body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

body {
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:helvetica;
}

#header {
	position:absolute; z-index:2;
	top:0; left:0;
	width:100%;
	height:45px;
	line-height:45px;
	background-color:#222;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
	background-image:-moz-linear-gradient(top, #999, #666 2%, #222);
	background-image:-o-linear-gradient(top, #999, #666 2%, #222);
	padding:0;
	color:#eee;
	font-size:20px;
	text-align:center;
}

#reset {
    position:absolute;
    top:5px;
    right:5px;
    color:white;
    display:inline;
    z-index:999;
    -webkit-border-radius: 10px;
    border:1px solid #666;
    background:#888;
    padding:8px;
}

#header a {
	color:#f3f3f3;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

nav {
	padding: 6px;
}
#back {
	position:absolute; z-index:3;
	top:15; left:15;
	-webkit-border-radius: 10px;
	border:1px solid black;
	padding: 8px;
	background-color:#222;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(1, #555));
	background-image:-moz-linear-gradient(top, #999, #555);
	background-image:-o-linear-gradient(top, #999, #555);
	color:white;
	font-size: 14px;
	font-weight: bold;
}

#wrapper {
	position:absolute; z-index:1;
	top:45px; bottom:0px; left:0;
	width:100%;
	background:#fff;
	overflow:auto;
}

#scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	padding:0 10px;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
	font-size:14px;
	vertical-align: middle;
}

.feedLink {
	width:100%;
    text-decoration:none;
    color:#000;
}

.listItem {
	position: relative; 
	height: 65px;
	padding:10px;
	border-top: 1;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
}

.listItem img{
	float:left;
	padding-right:10px;
}

.title {
	font-size: large;
    font-weight: bold;
}

.selectedRow {
	font-weight: bolder;
	background-color:#999;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #CCC), color-stop(1, #999));
	background-image:-moz-linear-gradient(top, #CCC, #999);
	background-image:-o-linear-gradient(top, #CCC, #999);
}



.imgDiv {
    position: absolute;
    left:10px;
    top:10px;
    width: 160;
    text-align: center;
    vertical-align: middle;
}

.contentDiv {
    
    position: absolute;
    left:80px;
    top:10px;
}