<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="org.apache.cordova.plugins.Badge"
      version="0.1.0">

    <name>Badge</name>

    <js-module src="www/Badge.js" name="Badge">
        <clobbers target="Badge" />
    </js-module>
        
    <!-- ios -->
    <platform name="ios">            
        <config-file target="config.xml" parent="/*">
            <feature name="Badge">
                <param name="ios-package" value="Badge" /> 
            </feature>
        </config-file>
    
        <header-file src="src/ios/Badge.h" />
	    <source-file src="src/ios/Badge.m" />        	    	
    </platform>


</plugin>
