<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.phonegap.plugin" android:versionCode="1"
	android:versionName="1.0">
	

	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application android:debuggable="true" android:icon="@drawable/icon"
		android:label="@string/app_name">
		<activity android:configChanges="orientation|keyboardHidden"
			android:name=".pppactivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="com.paypal.android.MEP.PayPalActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="keyboardHidden|orientation" />

	</application>
	<uses-sdk android:minSdkVersion="2" />

</manifest>
