<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="org.apache.cordova.plugins.PowerManagement"
      version="0.1.0">

    <name>PowerManagement</name>

    <js-module src="www/PowerManagement.js" name="PowerManagement">
        <clobbers target="PowerManagement" />
    </js-module>
        
    <!-- ios -->
    <platform name="ios">            
        <config-file target="config.xml" parent="/*">
            <feature name="PowerManagement">
                <param name="ios-package" value="PowerManagement" /> 
            </feature>
        </config-file>
    
        <header-file src="src/ios/PowerManagement.h" />
	    <source-file src="src/ios/PowerManagement.m" />
        	    	
    </platform>


</plugin>
